extend layout

block head_content
  title About SuperCaly 
  script(src='/javascripts/mainPage.js') 
  link(rel='stylesheet', type='text/css', href='/stylesheets/styleFeature.css')
  
block content
  include navbar.pug
  #content
    p 
    .group
      .item 
       p
        | SuperCaly, derived from "Super Calendar", is a mobile-based calendar application designed
        | for both android and IOS environments. The goal is to help people organise
        | life better, by providing them with all means and information needs.
        br
        br
        | While the key idea of SuperCaly is derived from a traditional Calendar
        | application, it is much more powerful. In addition to the functionality of
        | creating events and sending invites, SuperCaly extends this basic functionality of
        | a calendar app and provides features like:
        br
        | ● Organised Event View
        br
        | ● Auto-location event generation
        br
        | ● Map-View of the calendar events
        br
        | ● Auto-sync of google events
        br
        | ● Convenient content search
        br
        | ● Functionality to chat
        br
        br
        p#team
          | Team SuperCaly
          br
          | ●  Professor Ilmi Yoon | ●  Gary Ng | ●  Haichuan Duan  | ●  Xuejing Dong  | ●  Rujoota Shah  | ●  Anu Aggarwal  | ●  Cheng Li  | ●
        

      
  
