extend layout

block head_content
  title SuperCaly Features
  script(src='/javascripts/mainPage.js') 
  link(rel='stylesheet', type='text/css', href='/stylesheets/styleFeature.css')
  
block content
  include navbar.pug
  #content
    .group    
        img(src='/images/features.jpg', width='100%', height='100%') 
      
  
