extend layout

block head_content
  title SuperCaly Features
  script(src='/javascripts/mainPage.js') 
  link(rel='stylesheet', type='text/css', href='/stylesheets/styleFeature.css')
  
block content
  include navbar.pug
  #content
    p 
    .group
      .item ORGANISE EVENTS
        br
        br
        img(src='/images/event.jpg', width='100%', height='130') 
        br
        .item.container 
          | SuperCaly provides an all new way to organise daily events.
          br
          Features Features include:
          ul.container 
            li Create and Edit events
            li Organised in-detail Calendar View
            li Dashboard View of Events
            li Connected with google account
      
    .group
      .item CHAT
        br
        br
        img(src='/images/chat.jpg', width='100%', height='130') 
        br
        .item.container Chat and invite friends to your events
          ul.container
            li Easy one button click chat
            li Send messages to friends via email
            li Messages backed-up
      
    .group 
      .item TRACK LOCATION
        br
        br
        img(src='/images/loc.jpg', width='100%', height='130') 
        br 
        .item.container Know when and where you were
          ul.container 
            li Visual location trails
            li Events sorted based on location
      
  
