extend layout

block head_content
  title SuperCaly
  script(src='/javascripts/mainPage.js') 
  
block content
  a.header#oc(href="") SuperCaly
  div#nav
    ul
          li
            a(href='/features') Features
          li
            a(href='/download') Download Apk
          li
            a(href='') Tutorial
          li
            a(href='/aboutUs') About Us
