extend layout

block head_content
  title SuperCaly
  script(src='/javascripts/mainPage.js') 
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  
block content
  .header SuperCaly
  div#nav
    ul
          li
            a(href='/features') Features
          li
            a(href='/apk/app-debug.apk') Download Apk
          li
            a(href='/tutorial') Tutorial
          li
            a(href='/aboutUs') About Us
