div#subnavbar
    ul
          li
            img(src='/images/c1.png', height='60', style='vertical-align:middle') 
            a SUPERCALY
          li
            a(href='/features') Features
          li
            a(href='/download') Download Apk
          li
            a(href='') Tutorial
          li
            a(href='/aboutUs') About Us